[flake8]
max-line-length = 100

ignore =
    W503
exclude =
    tests/,
    */migrations/,
    data/
    venv/,
    env/,
    docs/,
    frontend/,
    infra/
    backend/migrations/*
per-file-ignores =
    */settings.py:E501
